
.profile-main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 0;

}

.profile-user-pic {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.profile-username {
    font-weight: bold;
}

.new-user-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.new-content-container {
    display: flex;
    justify-content: center;
}
.user-uploads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0 0 0;

}

.video-cards {
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 200px;
    width: 200px;

}
.video-thumbnail {
    border: solid black 1px;

}
.profile-featured-video {
    border-bottom: solid gray 1px;
}

#featured-title {
    color: white;
}
