.video-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#title-card {
    margin: 0;
}
.video-card {
    width: 639px;
    height: 500px;
    border-radius: 5px;
    border: solid 1px gray;
    background-color: white;

}
#video-size {
    max-width: 100%;
}
.card-video {
    max-width: 100%;
}
.card-owner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.owner-profile-pic {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}
