/* .edit-container {
    display: flex;
    flex-direction: column;
} */
.edit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.edit-container {
    background-color: #efefef;
    height: 50vh;
    border-radius: 5px;
    padding: 3rem;
    width: 30vw;

}
.edit-video-form {
    display: flex;
    flex-direction: column;
}
.edit-video-form input{
    margin: 1rem 0;
}

.edit-form-submit {
    width: 50%;
    border: none;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
    margin-left: 25%;
    margin-top: 1rem;
    border-radius: 2px;
}
