.navigation-tabs {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    background-color: #efefef;
    width: 640px;
    left: 30%;
    margin-top: 1rem;
    height: 3rem;
    border-radius: 2px;
}

#popular {
    font-weight: bold;
}
#new {
    font-weight: bold;
}

a #popular #new {
    color: #551a8b
}
a #popular:visited #new:visited{
    color: #551a8b
}
