/* TODO Add site wide styles */
body {
    font-family: 'Righteous', cursive;
    background-color: #252525;
    overflow-x: hidden;
    margin: 0;
}

a {
    color: purple;
}
a:visited {
    color: inherit;
    text-decoration: none;
}
