ul {
    list-style: none;
}

.top-nav-menu {
    display: flex;
    background-color: #efefef;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}

.top-nav-left {
    display: flex;
    margin-left: 1rem;
}
.profile-modal-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: #252525;
    border-radius: 2px;
    border: black 1px solid;
    top: 10%;
    right: 0;
    top: 2.5rem;
    color: white;
    padding: 0;

}
.profile-modal-btns {
    margin: .5rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.profile-modal-btns:hover{
    background-color: #efefef;
    color: black;
}


#logout-btn {
    background: none;
    border: none;
    cursor: pointer;



}
