#showbtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #AAAAAA;
}
.delete-comment {
    border: none;
    background: none;
    cursor: pointer;
}
.edit-comment {
    height: 16px;
    width: 16px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 1rem;

}
.edit-comment img {
    height: 16px;
    width: 16px;

}
.more-option {
    display: flex;
    justify-content: end;
}
.comment-user {
    color: white;
}
